<%- include("../partials/header") %>
  <body>
    <%- include("../partials/navbar") %>
    <div class="container">
      <!-- donation button -->
      <button
        type="button"
        id="donate-button"
        class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl"
        onclick="window.location.href = '/donate';"
      >
        <i class="fa-solid fa-heart"></i> Donate
      </button>

      <h1><%- program.name %></h1>
      <p><%- program.description %></p>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
